* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: white;
}

nav {
  padding-bottom: 2em;
  background-image: url("images/cinema-ticket.jpg");
  background-size: cover;
}

nav h1 {
  text-align: center;
  margin: 0;
  padding: 1em;
}

nav h1,
nav h3 {
  font-size: 2.4em;
}

input {
  width: 100%;
  margin-top: 1.3em;
}

#nav-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#watchlist {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.search-wrapper {
  display: flex;
  padding: 0 1em;
  position: relative;
  width: 100%;
  align-items: center;
  margin-top: 1.3em;
}

.search-wrapper input {
  flex: 1;
  padding: 0.5em 0.5em 0.5em 2.5em;
  height: 2.4em;
  border: 1px solid #aaa;
  font-size: 1rem;
  border-right: none;
  border-radius: 5px 0 0 5px;
  margin-top: 0;
}

.search-wrapper i {
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  pointer-events: all;
}

.search-button {
  gap: 20px;
  padding: 0 1em;
  border: 1px solid #aaa;
  background: #eee;
  cursor: pointer;
  font-size: 1rem;
  height: 2.4em;
  min-width: 10em;
  border-radius: 0 5px 5px 0;
  margin-top: 0;
}

@media (min-width: 768px) {
  nav h1 {
    padding-bottom: 4em;
  }
  .search-wrapper {
    padding: 30px 70px;
  }

  .search-wrapper i {
    padding-left: 3.3em;
  }
}
